package main

import (
	"github.com/itering/subscan-plugin/storage"
	"github.com/itering/subscan-plugin/router"
    "{{.Name}}/http"
    "{{.Name}}/service"
	"github.com/shopspring/decimal"
)

var srv *service.Service

type {{.ModClass}} struct {
	d storage.Dao
}

func New() *{{.ModClass}} {
	return &{{.ModClass}}{}
}

func (a *{{.ModClass}}) InitDao(d storage.Dao) {
	srv = service.New(a.d)
	a.d = d
	a.Migrate()
}

func (a *{{.ModClass}}) InitHttp() []router.Http{
	return http.Router(srv)
}

func (a *{{.ModClass}}) ProcessExtrinsic(block *storage.Block, extrinsic *storage.Extrinsic, events []storage.Event)) error {
	return nil
}

func (a *{{.ModClass}}) ProcessEvent(block *storage.Block, event *storage.Event, fee decimal.Decimal) error {
	return nil
}

func (a *{{.ModClass}}) Migrate() {
	db := a.d.DB()
	db.Set("gorm:table_options", "ENGINE=InnoDB").AutoMigrate(
	)

}
